@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

body {
  font: 100% 'Open Sans', Helvetica, Arial, sans-serif;
  color: #333;
  margin: 0;
}

.hamburger {
  font-size: 2.4em;
  position: absolute;
  top: 40px;
  right: 40px;
  color: #aaa;
  cursor: pointer;
  transition: color ease-out .2s;
  text-decoration: none;
  z-index: 2;
  visibility: hidden;
  
  &:hover {
    color: #000;
  }
}

nav {
  background-color: #222629;
  color: white;
  position: fixed;
  left: 0;
  top: 0;
  width: 250px;
  max-width: 100%;
  height: 100%;
  text-align: right;
  transition: left ease-out .3s;
  
  h1 {
    font-weight: 300;
    font-size: 2rem;
    padding: 40px 60px 25px 60px;
    margin: 0;
  }
  
  ul {
    margin: 0;
    list-style-type: none;
    padding: 0;
    
    li a {
      display: block;
      padding: 20px 60px;
      color: rgba(255, 255, 255, 0.5);
      text-decoration: none;
      transition: color .25s, background-color .25s;
      
      &:hover {
        color: white;
      }
      
      .active{
        color: white;
        background-color: rgba(0, 0, 0, 0.2);
      }
    }
  }

}

main {
  margin-left: 250px;
  padding: 15px 40px;
  transition: margin-left ease-out .3s;
  
  h2 {
    font-weight: 300;
    font-size: 2rem;
    margin-bottom: 35px;
  }
}

@media (max-width: 768px) {
  .hamburger {
    visibility: visible;
  }
  
  nav:not(.active) {
    left: -250px;
  }
  
  main {
    margin-left: 0;
  }
}